/*VH - when we give margin 0 to both h1 and body it occupies whole screen height without any gap.
when we not give it some white spaces around the screen we can see*/
/*body{
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}*/
h1{
    /*font-size:6vm;
    text-align: center;
    background-color: orangered;
    height:300vh;
    font-size:1em;*/
    font-size:9vmin;
    margin:0;
}
.parent{
    text-align: center;
    font-size:30px;
}
/*h3{
    font-size:.725em;
    font-size:3.725vmax;
}*/
/*p{
    font-size:.5em;
    font-size:2.5vmax;
}*/
/*.demo{
    width:250px;
    height:300px;
    background-color: orangered;
}/*
/* Beyond this min width limit the box not appears*/
@media(min-width: 600px){
    .demo{
        width:200px;
        height:200px;
        background-color: orangered;
    }
   
}
@media(max-width: 600px){
    .demo{
        width:200px;
        height:200px;
        background-color: blue;
    }
   
}

.card{
    width:270px;
    border-radius:14px;
    margin:10px;
    border:2px solid orangered;
    padding:10px;
}
.card-img{
    width:100%;
    border-radius:14px;
}
@media(max-width:500px){
    .card{
        width:270px;
        border-radius:14px;
        margin:10px ;
        border:2px solid orangered;
        padding:10px;
    }
}
@media(max-width:500px){
    .card{
        width:270px;
        border-radius:14px;
        margin:10px;
        border:2px solid blue;
        padding:10px;
    }
}
.bg{
     width:680px;
     margin:20px auto;
     position:relative;
}
.bg-img{
     width:100%;
}
.bg-content{
    position:absolute;
    bottom:60px;
    text-align: center;
    color:white;
    padding: 0 40px;
}
.shade{
    background-color: rgba(0, 0, 0, 0.486);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.title{
    font-size:3.3vmax;
   
}
.btn{
    border: 1px solid white;
    border-radius:8px;
    background-color: transparent;
    font-size:16px;
    padding: 14px 30px;
    color:white;
}
@media(min-width:700px){
    .bg{
       /*width:680px;*/
       /* margin:20px auto;
       position:relative; removing it */
       margin:0 auto;
   }
   .bg-img{
        width:100vmax;
   }
   .bg-content{
       position:absolute;
       bottom:60px;
       text-align:center;
       /*color:white;removing it*/
       color:black;
       padding: 0 40px;
       
   }
   .btn{
    border: 1px solid rgba(128, 128, 128, 0.611);
    border-radius:8px;
    background-color: transparent;
    font-size:16px;
    padding: 14px 30px;
    color:black;
   }
   .shade{
    background-color: transparent;
    /*background-color: rgba(0, 0, 0, 0.486);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0; removing it */
   }
   .title{
    /*removing it font-size:3.3vmax;*/
    font-size:4vmax;
    margin-top:12px;
   }
}
/* standard sizes
 laptop 990px
 mobile 586px and small
 tab 786px
 big screens 1200px
 */