.bg{
    position:relative;
    height:100vh;
    width:100vw;
}
.bg-img{
    height:100vmax;
    width:100vmax;
    object-fit:cover;
    flex-wrap:wrap;
    z-index:100;
}
.shade{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.439);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.bg-content{
    width:1100px;
    position:absolute;
    color:white;
    bottom:400px;
    top:40%;
    left:40%;
    margin:auto;
    text-align:center;
    transform:translate(-40%, -40%);
}
.sub{
    font-size:24px;
    font-weight: 600px;
}
.bg-title{
font-weight:1000%;
font-size:50px;
}
body{
    margin:0;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.pet{
    font-size: 22px;
    font-weight:500px;
}
.tex{
    padding: 16px 32px;
    margin:2px;
    border:1px solid rgba(211, 211, 211, 0.562);
    background-color:rgba(0, 0, 0, 0.102);
    width:300px;
    height:4vh;
    border-radius: 5px;
    color: white;   
}
.but{
    width:220px;
    height:10vh;
    border-radius:7px;
    font-size:24px;
    font-weight:635;
    color:white;
    background-color: rgb(229, 20, 9);
    justify-content:center;
    font-family: inherit;
    letter-spacing: normal;
}
.in{
    justify-content: center;
    display:flex;
    gap:3px;
}
.nav{ width:100%;
    position:sticky;
    background-color:#fff; 
    top:0;
    left:0;
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    align-items: center;
    padding:0 20px;
    justify-content: space-between;
    bottom:560px;
}
.size{
    border:1px solid black;
    padding:10px;
    border-radius: 8px;
    top:0;

  
}
.logo {
    position:absolute;
    top:0;
    left:0;
    margin-left:30px;
    font-size: 2em;
    font-weight: bold;
    color:rgb(225, 0, 0);
}
ul {
    justify-content: space-evenly;
    border:1px solid black;
    margin-right:50px;
    margin-top: 4px;
    position:absolute;
    top:0;
    right:0;
    margin-right:90px;
    list-style: none;
    display: flex;
    gap:16px;
}
.btn{
    right:0;
    padding:10.5px;
    margin-top: 0px;
    background-color: rgb(229, 20, 9);
    color:white;
   font-weight:700;
    font-size:15px 30px;
    border-radius:8px;
}
.img{
    height:100px;
}
.space{
    position:absolute;
    right:0;
    top:0;
    display:flex;
    flex-wrap:wrap;
    gap:35px;
}